<!--<div>
    <div class="col-md-6" ng-repeat="game in games track by $index">
        <a href="/game/{{game.type}}/{{game.name}}">
            <img src="{{game.icon}}">
        </a>
    </div>
</div>-->
<div class="page-default" ng-controller="MainController">
	<div id="landing-page" class="container-fluid">
		<div class="container wrap-content">
			<div class="row head-part">
	      <div class="col-lg-4"> <a href="#"><img src="/casino-example/src/images/common/logo.png" alt=""></a> </div>
	      <div class="col-lg-4"><!--empty space--></div>
	      <div class="col-lg-4">
	      	<p>Stanje</p>
	      	<div class="count-money"> 
	      		<span class="counter">
	      			<p>1</p>
	      		</span>
	      		<span class="counter">
	      			<p>1</p>
	      		</span> 
	      		<span class="separator"> , </span>
	      		<span class="counter-sm">
	      			<p>0</p>
	      		</span>
	      		<span class="counter-sm">
	      			<p>0</p>
	      		</span>
	      		<span class="value"> &euro; </span>
	        </div>
	      </div>
	    </div><!--end of head-->
	    <div class="row menu-part">
	    	<div><a href="/"> Nazad na početnu stranu </a></div>
	    </div>
	    <div class="row select-part">
	    	<div class="col-lg-2">
	    		<div class="arrow-left"> </div>
	    	</div>
	    	<div class="col-lg-8">
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    		<div class="col-lg-3"> 
	    			<a href="#"><img src="/casino-example/src/images/games/oryx/AE/kiosk.png" alt=""></a>
	    			<img src="/casino-example/src/images/common/game-shadow.png" alt="" class="shadow">
	    		</div>
	    	</div>
	    	<div class="col-lg-2">
	    		<div class="arrow-right"> </div>
	    	</div>
	    </div> 
	     <div class="row random-part">
	    	<div class="link-img"><a href="#"><!--<img src="/casino-example/src/images/games/oryx/AE/188X125.png" alt="">--></a></div>
	    	<div class="link-img"><a href="#"><!--<img src="/casino-example/src/images/games/oryx/BB/188X125.png" alt="">--></a></div>
	    	<div class="link-img"><a href="#"><!--<img src="/casino-example/src/images/games/oryx/G7C/188X125.png" alt="">--></a></div>
	    </div><!--end of random-->
    </div>
  </div> <!-- end of landing page -->
</div>